 body {
    font-family: sans-serif;
    background-color: #ffff;
  }

  .container {
    width: 335px;
    height: 750px;
    display: flex;
    flex-direction: column;
  }

  .header {
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
  }

  .profile-section {
    padding: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-circle {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 15px;
}

.user-details .username {
    font-weight: bold;
    text-align: left
}

.user-meta {
    font-size: 14px;
    color: #4D7EFF;
    margin-top: 10px; 
    text-align: left   
}

.menu-container {
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
  
  .menu-item {
    padding: 30px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #c0c0c0;
  }

  .menu-item:hover {
    background-color: #f0f0f0;
}

  